<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>OneQuote</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="./images/fevi.png"/>
</head>
<body>
	<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 100px;"> 
		<img src="./images/nlogo.png" style="background:#3851DD; width: 250px; height: 250px ;"> 
		<h1 style="color:#3851DD; font-size: 58px;">OneQuote</h1>
		<h4 style="color: darkgreen">Some incredible coming soon Please keep the passion</h4>
		<h3><% title  %></h3>
	</div>
</body>
</html>